@media (min-width: 400px) and (max-width: 767px) {
   
    h1 {
        padding: 10px;
        color: #fff;
        font-size: 20px;
    }
    div{
        
        width: 402px;
        height: 568px;
        border: 1px solid black;
        padding-left: 10px;
        margin-left: 10px;
        padding-top: 14px;
}
.nav  {
    background-color: white;
font-size: 24px;
margin-left: 290px;
margin-top: 3px;
margin-bottom: 68px;
margin-top: 27px
}


ul {
list-style: none;
color: white;
margin-top: -30px;
margin-left: 115px;

}
li{
text-align: center;
text-decoration: none;
}
    h2{
       background-color:#4a4a4a;
       color:white;
       margin-top: 0px;
    text-align: center;
    width:  491px;;
    padding-top: 56px;
    height: 48px;
    }
    .input{
        width:472px;
        background-color: #d8d8d8;
        box-shadow: 7px -1px 15px grey;
        text-align: center;
    margin: auto;
    border:3px  solid grey;
    width: 431px;
    margin-bottom:26px;
    height: 855px;
    
    }
    h3{
        margin-top: 114px;
    }
    img{
        margin-top: 20px;
        border: 7px solid white;
        box-shadow: 7px -1px 15px grey;
        margin-bottom: -111px;


    }
    h3{
        color: whitesmoke;
    }
    h5{
        margin-top: -84px;
    }
    p{
        width: 425px;
        height: 192px;
        margin: auto;
        color: #4a4a4a;
}
    h4{
        color: #4a4a4a;

    }
    form{
        margin-top: -23px;

    display: flexbox;
    flex-direction: column;
    margin: 10% 15%;
}
#book {
    display: inline-block;
    width: 85%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 2;
    color: #495057;
    margin-bottom: 20px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
} 
.input-feild
{
    display: inline-block;
    width: 85%;
    padding: .375rem .75rem;
    font-size: 1rem;
    height:40px;
    color: #495057;
    margin-bottom: 20px;
    background-color: gray;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;  
}
input[type=radio]
{
    margin-right: 25px;
}
h1{
    display: inline-block;

    text-align: left;
}
#icon
{
    color: #fff;
    width: 45%;
    padding-top: 8%;
    text-align: right;
    font-size: 26px;
}

button
{
    border: none;
    padding: 18px;
    margin-top: 25px;
    width: 93%;
    background-color: #000;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
}

}