<header>
    <h1>BEST BOOK </h1>
  
    <i class="fa fa-bars nav"></i>
  <ul id= "UL">
      <a href= "/"><li>Home</li></a>
     <a href="/search/new"> <li>SEARCH FOR BOOKS</li></a>
  </ul>


</header>